# Test Database Connection
TEST_DATABASE_URL=postgresql://postgres:PASSWORD@localhost:5432/postgres

# Logging Level
LOG_LEVEL=error

# Database Inspection (set to 'true' to pause after tests)
INSPECT_DB=true

